*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    max-width: 1440px;
    margin: 0 auto;
}
.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{

}
.header_logo-img{
    width: 100px;
    height: 100px;
}
.header_search{

}
.header_search-text{
    border: 1px solid red;
    width: 517px;
    height: 31px;
}
.header_search-submit{
    border: 1px solid red;
    background: red;
    width: 60px;
    height: 31px;
    color: white;
}
.header_hotline{
    background: rgb(186, 84, 84);
    padding: 10px;
    border-radius: 20px;
    width: 185px;
    height: 31px;
}
.header_hotline-text{
    color: aliceblue;
}