<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/allcss.css">
</head>
<body>
        <header class="">
            <div class="">
                <div class="">
                    <img src="../src/imgs/kkkk.jpg" alt="" width="100px" height="100px" class="">
                </div>
                <div class="">
                    <input type="text" class="" placeholder="Tìm kiến sản phẩm...">
                    <input type="submit" class="" value="">
                </div>
                <div class="">
                    <span class="">
                        HOTLINE: 0346938386
                    </span>
                </div>
            </div>
            .
        </header>
</body>
</html>