<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css/">
</head>

<body>
    <header class="max-w-6xl mx-auto">
        <div class="flex justify-between items-center">
            <div class="header_logo">
                <img src="../src/imgs/kkkk.jpg" alt="" width="100px" height="100px" class="header_logo-img">
            </div>
            <div class="header_search">
                <input type="text" class="header_search-text" placeholder="Tìm kiến sản phẩm...">
                <input type="submit" class="header_search-submit" value="">
            </div>
            <div class="header_hotline">
                <span class="header_hotline-text">
                    HOTLINE: 0346938386
                </span>
            </div>
        </div>
        .
    </header>
</body>

</html>